<%= form_with(model: account_verification_document) do |form| %>
  <% if account_verification_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_verification_document.errors.count, "error") %> prohibited this account_verification_document from being saved:</h2>

      <ul>
        <% account_verification_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Ine" %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
    <%= hidden_field_tag(:file_id, "1") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<%= form_with(model: account_verification_document) do |form| %>
  <% if account_verification_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_verification_document.errors.count, "error") %> prohibited this account_verification_document from being saved:</h2>

      <ul>
        <% account_verification_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Comprobante domicilio" %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
    <%= hidden_field_tag(:file_id, "2") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<%= form_with(model: account_verification_document) do |form| %>
  <% if account_verification_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_verification_document.errors.count, "error") %> prohibited this account_verification_document from being saved:</h2>

      <ul>
        <% account_verification_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "RFC" %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
    <%= hidden_field_tag(:file_id, "3") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
